{% extends 'base.html' %}
{% load static %}
{% block content %}
<section class="galeria" style="margin-left: 5em">
    <form action="{% url 'logon' %}" method="POST">
        {% csrf_token %}
        <div class="row">
            {% for field in form.visible_fields %}
                <div style="margin-bottom: 10px;" class="col-12 col-lg-12">
                    <label style="color:#7B78E5; margin-bottom: 5px;" for="{{ field.id_for_label }}">{{field.label}}</label><br>
                    {{field}}
                </div>
                {% for error in field.errors %}
                <div>
                    <h1 style="color: #7B78E5; margin-bottom: 10px;">> {{error}}</h1>
                </div>
                {% endfor %}
            {% endfor %}
        </div>
        <div>
            <br><button class="btn btn-success col-12" style="padding: top 5px;" type="submit"">Log On</button>
        </div>
    </form>
</section>
{% endblock %}